body {
    background-color: #0D141B;
    color: #FBE7DA;
}

header h1{
    text-align: center;
    filter: url("#pixelate");
}

main p{
    text-align: center;
}

.secret {
    opacity: 1;
    color: red;
    filter: url("#pixel_distort")
}

#world-grid-container {
    display: flex;
    justify-content: center;
}
#world-grid {
    display: grid;
    grid-template-columns: repeat(3, 15rem);
    background-image: url(assets/space.png);
    border-style: double;
    border-color: #FBE7DA;
    border-width: 0.5rem;
}

#world-grid img {
    image-rendering: crisp-edges;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 200px;
}


